<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="../assets/img/logo.png" height="60" width="60" [routerLink]="'/'">
    <!-- <span class="spacer">   </span> -->
    <h1 [routerLink]="'/'">Bookit</h1>
    <span class="spacer" >   </span>
    <p *ngIf="user" style="padding: 1px;margin: 10px;">Logged in as:{{ user?.displayName }}</p>
    <div>
      <!-- <mat-form-field >
        <mat-label>Select location</mat-label>
        <mat-select value="location" class="select">
          
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
       <button type="button" class="btn btn-dark mr-2" *ngIf="!user" (click)="login()">Login</button>
       <button type="button" class="btn btn-success"   *ngIf="!user" (click)="register()">SignUp</button>
       <button type="button"  class="btn btn-danger" *ngIf="user" (click)="logout()">Logout</button>
       
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>
<app-footer></app-footer>