.glyphicon {
    font-size: 25px;
}
.spacer{
    flex : 1 1 auto;
}
.font14 {
    font-size: 24px;
}
.font16 {
    font-size: 20px;
}
.marginTop5 {
    margin-top: 20px;
}
.marginTB10 {
    margin: 10px 0px;
}
.wordWrap {
    word-break: break-all;
}
/* End CSS Helpers */

.innerContainer {
    color: black;
    text-align: center;
}
.movie {
    margin: -2px -5px 2px -5px;
    height: 70px;
    background: hsla(216, 81%, 53%, 0.65);   
}
.movieDetails {
    font-size: 15px;
    margin-top: -3px;
}
.movieTitle {
    font-size: 20px;
    padding-top: 10px;
    margin-top: -3px;
}
.seat {
    padding-right: 15px;
   
}

.legend {
    font-size: 24px;
}
.legend > .padding-left {
    padding-left: 15px;
}
.screen {
    background: hsla(216, 72%, 50%, 0.65);
    height: 3px;
    border-radius: 15px;
    margin: -5px 50px 10px;
    box-shadow: 0px 3px 6px black;
}
.reservedSeat {
    
    color: #ce4844;
}
.selectedSeat {
    color: #5cb85c;
}
.freeSeat {
    color: blueviolet;
}